<h1 mat-dialog-title id="titulo">Crear Nuevo Elemento</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required>
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label>Fecha de Aparición</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaAparicion" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label>Información Extra</mat-label>
      <textarea matInput formControlName="informacionExtra" required></textarea>
    </mat-form-field>
    <mat-form-field class="full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion" required></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-icon-button color="black" (click)="cerrar()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-icon-button color="black" (click)="guardar()" [disabled]="!form.valid">
    <mat-icon>save</mat-icon>
  </button>
</div>