<h2>Tus amigos</h2>

<!-- Input para agregar usuarios -->
<mat-form-field class="elementoFormulario">
  <mat-label class="etiquetaFormulario">Agregar usuario</mat-label>
  <input matInput id="nombreUsuarioAgregar" [(ngModel)]="nombreUsuarioAgregar" (input)="onNombreUsuarioAgregarChange()">
</mat-form-field>

<!-- Lista de usuarios no agregados encontrados -->
<div *ngIf="usuariosNoAgregados.length > 0">
  <ul>
    <li *ngFor="let usuario of usuariosNoAgregados">
      {{ usuario.nombre }}
      <button mat-icon-button color="black" (click)="agregarUsuario(usuario.nombre)">
        <mat-icon>person_add</mat-icon>
      </button>
    </li>
  </ul>
</div>

<!-- Mensaje cuando no se encuentran usuarios no agregados -->
<div *ngIf="noSeEncontraronUsuarios">
  <p>No se encontraron usuarios.</p>
</div>

<!-- Input para buscar dentro de tus amigos -->
<mat-form-field class="elementoFormulario">
  <mat-label class="etiquetaFormulario">Buscar en tus amigos</mat-label>
  <input matInput id="nombreAmigoBuscar" [(ngModel)]="nombreAmigoBuscar" (input)="onNombreAmigoBuscarChange()">
</mat-form-field>

<div id="mensajeInformativo"></div>

<ul>
  <li *ngFor="let amigo of amigos">
    <a (click)="verDetalleAmigo(amigo.nombre)">{{ amigo.nombre }}</a>
  </li>
</ul>

<div *ngIf="noSeEncontraronAmigos">
  <p>No se encontraron amigos.</p>
</div>