<h2>Tus amigos</h2>

<!-- Contenedor para alinear el input y el botón en la misma línea -->
<div class="input-button-container">
  <!-- Input para agregar usuarios y buscar en tus amigos -->
  <mat-form-field class="elementoFormulario">
    <mat-label class="etiquetaFormulario">Nombre del usuario</mat-label>
    <input matInput id="nombreUsuario" #nombreUsuarioInput [(ngModel)]="nombreUsuario" (input)="onNombreUsuarioChange()" [matAutocomplete]="auto" (focus)="abrirDesplegable()" (keydown.escape)="salirDelInput()">
    <button mat-icon-button matPrefix (click)="salirDelInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let usuario of usuariosNoAgregados" [value]="usuario.nombre" (click)="seleccionarUsuario(usuario.nombre)">
    <span>{{ usuario.nombre }}</span>
    <mat-icon>person_add</mat-icon>
  </mat-option>
  <mat-option *ngFor="let amigo of amigosFiltrados" [value]="amigo.nombre" (click)="seleccionarAmigo(amigo.nombre)">
    <mat-icon class="option-icon" style="color: rgba(128, 128, 128, 0.6);">person</mat-icon>
    <span>{{ amigo.nombre }}</span>
  </mat-option>
</mat-autocomplete>

<div id="mensajeInformativo"></div>