#componente
{
    background-color: lightblue;
}

#inicioRegistro, #botones
{
    display: flex;
    justify-content: center;
}

#login
{
    display: none;
    display: revert;
}

#registro
{
    display: none;
    /* display: revert; */
}