#componente
{
    background-color: lightblue;
}

#inicioRegistro, #botones
{
    display: flex;
    justify-content: center;
}

#login
{
    display: none;
    display: revert;
}

#registro
{
    display: none;
    /* display: revert; */
}

img
{
    padding: 0;
    margin: 0;
    border: 0;
    width: 20%;
    height: 20%;
}