*
{
    margin: 0;
    padding: 0;
    border: 0;
}

#componente
{
    background-color: lightblue;
}

img
{
    width: 20%;
    height: 20%;
}

#botonesLoginRegistro
{
    display: flex;
    flex-wrap: wrap;
}

#botones
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    width: 100%;
}

#botones button
{
    padding-left: 1em;
    padding-right: 1em;

    margin: 0.3em;
}

#loginRegistro
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    width: 100%;

    padding-top: 2%;
}