<span id="componente">INICIO</span>
<h1>Data Burst</h1>
<img src="..\..\..\assets\dataBurstLogo.svg" alt="logo de Data Burst"/>
<div id="botonesInicioRegistro">
    <div id="botones">
        <button mat-raised-button color="secondary" (click)="mostrarLoginOcultarRegistro()">Login</button>
        <button mat-raised-button color="secondary" (click)="mostrarRegistroOcultarLogin()">Registro</button>
    </div>
    <div id="inicioRegistro">
        <app-login id="login"></app-login>
        <app-registro id="registro"></app-registro>
    </div>
</div>
<app-footer></app-footer>