:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%; /* Asegurar que ocupe el 100% del ancho */
  overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

.estadisticas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 2%;
  width: 100%; /* Asegurar que ocupe el 100% del ancho */
  overflow: hidden; /* Evitar desbordamiento */
}

.estadisticas-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

table {
  margin-top: 16px;
  width: 100%; /* Asegurar que la tabla ocupe el 100% del ancho */
}

@media (max-width: 768px) {
  .estadisticas-content {
    padding: 0 16px;
  }
}