<div class="estadisticas-container">
  <div class="estadisticas-content">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre Categoría</mat-label>
      <input matInput [(ngModel)]="categoria">
    </mat-form-field>
    <button mat-raised-button (click)="obtenerEstadisticas()" class="full-width" style="background-color: green;">Generar estadísticas</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width" *ngIf="!noEstadisticas">
      <ng-container matColumnDef="orden">
        <th mat-header-cell *matHeaderCellDef> Orden </th>
        <td mat-cell *matCellDef="let element"> {{element.orden}}º </td>
      </ng-container>
      <ng-container matColumnDef="masAgregado">
        <th mat-header-cell *matHeaderCellDef> Más Agregado </th>
        <td mat-cell *matCellDef="let element"> {{element.masAgregado}} </td>
      </ng-container>
      <ng-container matColumnDef="masGustado">
        <th mat-header-cell *matHeaderCellDef> Más Gustado </th>
        <td mat-cell *matCellDef="let element"> {{element.masGustado}} </td>
      </ng-container>
      <ng-container matColumnDef="menosGustado">
        <th mat-header-cell *matHeaderCellDef> Menos Gustado </th>
        <td mat-cell *matCellDef="let element"> {{element.menosGustado}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <span *ngIf="noEstadisticas">No existen estadísticas para la categoría seleccionada.</span>
  </div>
</div>