.like-button {
  color: green;
}

.dislike-button {
  color: red;
}

.help-button {
  color: #ffaa00;
}

.comment-button {
  color: #9900b4;
}

.lista-header h2 {
  cursor: pointer;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-table {
  border: none;
  width: 100%;
}

.mat-header-cell, .mat-cell {
  border: none;
}

.mat-row, .mat-header-row {
  border-bottom: none;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
}

.like-dislike-help-group {
  background-color: #f4f4f4;
  border-radius: 5%;
}

.mat-column-acciones {
  width: 300px;
}

.elementoFormulario {
  width: 100%;
}

.input-container {
  width: 100%;
  min-width: 450px;
}

button[mat-icon-button]:hover {
  text-decoration: none;
}

.lista-categoria {
  margin: 8px 0;
}

.lista-categoria mat-chip-set {
  display: inline-block;
}

.lista-categoria mat-chip {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lista-header {
  display: flex;
  flex-direction: column;
}

.lista-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.categoria-text {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin: 4px 0;
}