.like-button {
  color: green;
}

.dislike-button {
  color: red;
}

.help-button {
  color: #ffaa00;
}

.comment-button {
  color: #9900b4;
}

.lista-header {
  display: flex;
  flex-direction: column;
}

.lista-header h2 {
  cursor: pointer;
}

.lista-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.lista-categoria {
  margin: 8px 0;
}

.lista-categoria mat-chip-set {
  display: inline-block;
}

.lista-categoria mat-chip {
  background-color: #ae00cdb8;
  color: white;
  font-weight: 500;
  padding: 4px 12px; 
}

.mat-elevation-z8 {
  box-shadow: none;
}

.mat-table {
  border: none;
  width: 100%;
}

.mat-column-acciones {
  width: 300px;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
}

.like-dislike-help-group {
  background-color: #f4f4f4;
  border-radius: 5%;
}

.full-width {
  width: 100%;
}

.input-container {
  width: 100%;
  min-width: 450px;
}