<div>
  <button mat-icon-button (click)="volver()" title="Volver a mis listas">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="lista-header">
    <h2 *ngIf="!editandoNombre" (click)="editarNombre()">
      {{ lista?.nombre }}
    </h2>
    <div *ngIf="editandoNombre">
      <mat-form-field>
        <mat-label>Nombre de la Lista</mat-label>
        <input matInput #nombreListaInput [(ngModel)]="nuevoNombreLista" (keydown.enter)="guardarNombre()" (keydown.escape)="cancelarEdicion()">
      </mat-form-field>
      <button mat-icon-button (click)="cancelarEdicion()" title="Cancelar edición">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button (click)="guardarNombre()" title="Guardar nuevo nombre">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    
    <ng-container *ngIf="lista && lista.categoria">
      <div class="lista-categoria">
        <mat-chip-set>
          <mat-chip color="accent" highlighted disabled aria-label="Categoría de la lista (información)">
            {{ lista.categoria.nombre }}
          </mat-chip>
        </mat-chip-set>
      </div>
    </ng-container>
    
    <div class="lista-actions">
      <button mat-icon-button (click)="toggleEditarNombre()" [title]="editandoNombre ? 'Cancelar edición' : 'Editar nombre'">
        <mat-icon>{{ editandoNombre ? 'cancel' : 'edit' }}</mat-icon>
      </button>
      <mat-slide-toggle [checked]="listaPublica" (change)="cambiarVisibilidad($event)" color="accent" [title]="listaPublica ? 'Cambiar a lista privada' : 'Cambiar a lista pública'">
        <mat-icon>{{ listaPublica ? 'public' : 'lock' }}</mat-icon>
      </mat-slide-toggle>
      <button mat-icon-button (click)="toggleColaborar()" [title]="mostrarColaborarComponent ? 'Ocultar panel de colaboradores' : 'Añadir colaboradores'">
        <mat-icon [style.color]="mostrarColaborarComponent ? '#61B300' : 'inherit'">group</mat-icon>
      </button>
      <button mat-icon-button (click)="eliminarLista()" title="Eliminar lista">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="mostrarColaborarComponent">
    <div class="input-button-container">
      <mat-form-field class="full-width">
        <mat-label>Invitar amigos</mat-label>
        <input matInput id="nombreAmigoBuscar" #nombreAmigoBuscarInput [(ngModel)]="nombreAmigoBuscar" (input)="onNombreAmigoBuscarChange()" [matAutocomplete]="auto" (focus)="abrirDesplegable()" (keydown.escape)="salirDelInput()">
        <button mat-icon-button matPrefix (click)="salirDelInput()" [title]="obtenerTituloBotonCerrarAmigo()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let colaborador of colaboradores" [value]="colaborador.nombre" [disabled]="true">
        <span>{{ colaborador.nombre }}</span>
        <mat-icon style="color: rgba(128, 128, 128, 0.6);">person</mat-icon>
      </mat-option>
      <mat-option *ngFor="let amigo of amigosEncontrados" [value]="amigo.nombre" (click)="invitarAmigo(amigo.id, amigo.nombre)">
        <span>{{ amigo.nombre }}</span>
        <mat-icon>person_add</mat-icon>
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="input-container">  
    <mat-form-field class="full-width">
      <mat-label>Buscar elemento a añadir</mat-label>
      <input matInput id="nombreElementoBuscar" #nombreElementoBuscarInput [(ngModel)]="nombreElementoBuscar" (input)="onNombreElementoBuscarChange()" [matAutocomplete]="autoElemento" (focus)="abrirDesplegableElemento()" (keydown.escape)="salirDelInputElemento()">
      <button mat-icon-button matPrefix (click)="resetBusquedaElemento()" [title]="obtenerTituloBotonCerrarElemento()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  
    <mat-autocomplete #autoElemento="matAutocomplete" (optionSelected)="agregarElementoSinEscribir($event)">
      <mat-option *ngFor="let elemento of elementosEncontrados" [value]="elemento.nombre" (click)="mostrarInformacionElemento(elemento)">
        <mat-icon>info</mat-icon>
        <span>{{ elemento.nombre }}</span>
      </mat-option>
      <mat-option *ngIf="mostrarBotonCrear" (click)="mostrarFormulario()">
        <span>¿Elemento inexistente? Crear</span>
        <mat-icon>add_circle</mat-icon>
      </mat-option>
    </mat-autocomplete>
  </div>

  <table mat-table [dataSource]="elementos" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <td mat-cell *matCellDef="let elemento"> {{ elemento.nombre }} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <td mat-cell *matCellDef="let elemento" class="mat-column-acciones">
        <div class="button-group">
          <button mat-icon-button (click)="mostrarInformacionElementoExistente(elemento)" title="Ver información">
            <mat-icon>info</mat-icon>
          </button>
          <div class="like-dislike-help-group">
            <button mat-icon-button [ngClass]="{'like-button': elemento.puntuacion === true}" 
                    (click)="elemento.puntuacion !== true && likeElemento(elemento)"
                    [title]="obtenerTituloBotonLike(elemento)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button [ngClass]="{'dislike-button': elemento.puntuacion === false}" 
                    (click)="elemento.puntuacion !== false && dislikeElemento(elemento)"
                    [title]="obtenerTituloBotonDislike(elemento)">
              <mat-icon>thumb_down</mat-icon>
            </button>
            <button mat-icon-button [ngClass]="{'help-button': elemento.puntuacion === null}" 
                    (click)="elemento.puntuacion !== null && resetLikeDislikeElemento(elemento)"
                    [title]="obtenerTituloBotonHelp(elemento)">
              <mat-icon>help_outline</mat-icon>
            </button>
          </div>
          <button mat-icon-button [ngClass]="{'comment-button': elemento.comentario && elemento.comentario.trim().length > 0}" 
                  (click)="comentarElemento(elemento)"
                  [title]="elemento.comentario && elemento.comentario.trim().length > 0 ? 'Editar comentario' : 'Añadir comentario'">
            <mat-icon>comment</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminarElemento(elemento.id)" title="Eliminar elemento">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['nombre', 'acciones'];"></tr>
  </table>
</div>