/* Centrar la tabla en la página */
table {
    margin: auto;
    border-collapse: collapse;
    width: 50%; /* Ajusta el ancho según sea necesario */
  }
  
  /* Centrar el texto en las celdas */
  th, td {
    text-align: center;
    padding: 8px;
    border: none; /* Eliminar bordes */
  }
  
  /* Eliminar el color de fondo de los encabezados */
  th {
    background-color: transparent;
  }