*
{
    margin: 0;
    padding: 0;
    border: 0;
}

.elementoFormulario
{
    width: 100%;
}

#formulario
{
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

#boton
{
    background-color: #61B300;
}