<mat-form-field class="example-full-width">
  <mat-label>Agregar elemento</mat-label>
  <input matInput [(ngModel)]="buscarElemento" (input)="onBuscarElementoChange()">
</mat-form-field>

<div *ngIf="elementos.length > 0">
  <ul>
    <li *ngFor="let elemento of elementos">
      {{ elemento.nombre }}
      <button mat-icon-button color="primary" (click)="asignarElemento(elemento.id)">
        <mat-icon>add</mat-icon>
      </button>
    </li>
  </ul>
</div>

<div *ngIf="noSeEncontraronElementos">
  <p>No se encontraron elementos.</p>
</div>

<div *ngIf="mostrarBotonCrear">
  <button mat-flat-button color="accent" (click)="mostrarFormulario()">
    ¿Elemento inexistente? Crear
  </button>
</div>