*
{
    margin: 0;
    padding: 0;
    border: 0;
}

#body
{
    background-image: url("../../../assets/images/inicioBackground.png");
    background-repeat:no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
}

#titulo
{
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 3em;
    padding-top: 2%;
}

#logoTitulo
{
    width: 14em;

    margin-top: 0.5em;
    margin-right: 2%;
    margin-left: 2%;
}

#textoTitulo
{
    display: flex;
    flex-wrap: wrap;

    font-family: 'ShareTech';
    font-size: 7em;
    color: #AE00CD;

    text-align: center;
    align-items: center;
    justify-content: center;

    margin-right: 2%;
    margin-left: 2%;
}

#textoTitulo span
{
    margin: 0.1em;
    margin-top: 0.5em;
}

#componente
{
    background-color: lightblue;
}

#botonesLoginRegistro
{
    display: flex;
    flex-wrap: wrap;
}

#botones
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    width: 100%;
}

#botones button
{
    padding-left: 1em;
    padding-right: 1em;

    margin: 0.3em;
    margin-bottom: 1.5em;
}

#loginRegistro
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    padding-top: 2em;
    padding-bottom: 2em;

    margin: auto;

    width: 32%;
    min-width: 26em;

    background-color: #D2D9DC;
    box-shadow: 2px 2px 1px grey;
}