:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

#perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 1%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mensajeInformativo {
    font-family: 'ShareTech';
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5%;
}

.contenedor-solicitudes-datos {
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 100%;
    margin-top: 1%;
    flex-grow: 1;
    overflow-y: hidden;
}

.columna {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

#solicitudes, #datos {
    width: 100%;
    max-width: 600px;
    margin: 1%;
    flex-grow: 1;
    overflow-y: hidden;
}

.seccion-titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #AE00CD;
    text-align: center;
    font-family: 'ShareTech';
    font-weight: 500;
  }

@media (max-width: 768px) {
    .contenedor-solicitudes-datos {
        flex-direction: column;
        align-items: center;
    }

    .columna {
        width: 100%;
    }

    #solicitudes, #datos {
        max-width: 90%;
    }
}