:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

#perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 1%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#mensajeInformativo {
    font-family: 'ShareTech';
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5%;
}

.contenedor-datos {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    flex-grow: 1;
    overflow-y: hidden;
}

.seccion-titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #AE00CD;
    text-align: center;
    font-family: 'ShareTech';
    font-weight: 500;
}

button:hover {
    text-decoration: underline;
}

.elementoFormulario {
    width: 100%;
}

.etiquetaFormulario {
    color: #717e84;
}

#formulario {
    width: 100%;
    max-width: 486px;
    padding-left: 5%;
    padding-right: 5%;
}

#boton {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1em;
    color: #EEF1F2;
    background-color: #61B300;
}

@media (max-width: 768px) {
    #formulario {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (max-width: 480px) {
    #formulario {
        padding-left: 2%;
        padding-right: 2%;
    }
}