<div>
	<form [formGroup]="formRegistro">
		<mat-form-field>
			<mat-label>Mail</mat-label>
			<input matInput formControlName="mail">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Usuario</mat-label>
			<input matInput formControlName="usuario">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Contraseña</mat-label>
			<input matInput formControlName="contrasenia" type="password">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Repetir contraseña</mat-label>
			<input matInput formControlName="contraseniaRepetida" type="password">
		</mat-form-field>
		<button mat-flat-button color="primary"(click)="registrarse()">Crear usuario</button>
	</form>
</div>