<form id="formulario" [formGroup]="formRegistro">
	<mat-form-field class="elementoFormulario">
		<mat-label class="etiquetaFormulario">Mail</mat-label>
		<input matInput formControlName="mail">
	</mat-form-field>
	<mat-form-field class="elementoFormulario">
		<mat-label class="etiquetaFormulario">Usuario</mat-label>
		<input matInput formControlName="usuario">
	</mat-form-field>
	<mat-form-field class="elementoFormulario">
		<mat-label class="etiquetaFormulario">Contraseña</mat-label>
		<input matInput formControlName="contrasenia" type="password">
	</mat-form-field>
	<mat-form-field class="elementoFormulario">
		<mat-label class="etiquetaFormulario">Repetir contraseña</mat-label>
		<input matInput formControlName="contraseniaRepetida" type="password">
	</mat-form-field>
	<button 
		id="boton" 
		class="elementoFormulario" 
		mat-flat-button 
		color="primary"
		(click)="registrarse()">
		Crear usuario
	</button>
</form>