*
{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'ShareTech';
    font-size: 1.1em;
    color: #E034FF;
}

a
{
    text-decoration: none;
}

#pie
{
    display: flex;
    flex-wrap: wrap;

    margin-top: 15em;

    text-align: center;
    align-items: center;
    justify-content: space-around;

    background-color: #FBE6FF;
}

@media (max-width:700px)
{
    #pie 
    {
        height: 6em;
    }
}

.enlaces
{
    min-width: 11em;
    width: 33%;
}

a:hover 
{
    text-decoration: underline;
}