<mat-toolbar id="pie">
    <span class="enlaces">
        <a target="_blank" href="https://github.com/ignacioserranorodriguez/DataBurst?tab=GPL-3.0-1-ov-file#readme">Licencia</a>
    </span>
    <span class="enlaces">
        <a target="_blank" href="https://es.wikipedia.org/wiki/Pol%C3%ADtica_de_privacidad">Política de privacidad</a>
    </span>
    <span class="enlaces">
        <a target="_blank" href="https://github.com/ignacio-serrano-rodriguez/data-burst">Autoría</a>
    </span>
</mat-toolbar>