*
{
    margin: auto;
    padding: 0;
    border: 0;
}

#pie
{
    display: flex;
    flex-wrap: wrap;

    margin-top: 15em;

    text-align: center;
    align-items: center;
    justify-content: space-between;

    background-color: #FBE6FF;
}

@media (max-width:700px)
{
    #pie 
    {
      height: 6em;
    }
}

.enlaces
{
    color: #E034FF;
    min-width: 11em;
    width: 33%;
}

span:hover 
{
    font-weight: bolder;
}