<button mat-icon-button (click)="volver()">
  <mat-icon>arrow_back</mat-icon>
</button>

<h2>Agregador de Elementos</h2>
<p>Lista: {{ nombreLista }}</p>

<form [formGroup]="formBuscar">
  <mat-form-field class="example-full-width">
    <mat-label>Buscar Elementos</mat-label>
    <input matInput formControlName="query">
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="buscarElementos()">
    Buscar
  </button>
</form>

<div *ngIf="elementos.length > 0">
  <h3>Resultados de la Búsqueda</h3>
  <ul>
    <li *ngFor="let elemento of elementos">
      {{ elemento.nombre }}
      <button mat-button color="primary" (click)="asignarElemento(elemento.id)">
        Asignar a la Lista
      </button>
    </li>
  </ul>
</div>

<div *ngIf="noSeEncontraronElementos">
  <p>No se encontraron elementos.</p>
</div>

<div *ngIf="mostrarBotonCrear">
  <button mat-flat-button color="accent" (click)="mostrarFormulario()">
    Mostrar formulario de creación
  </button>
</div>

<div *ngIf="mostrarFormularioCrear">
  <h3>Crear Nuevo Elemento</h3>
  <form [formGroup]="formCrear" (ngSubmit)="crearElemento()">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Fecha de Aparición</mat-label>
      <input matInput type="date" formControlName="fecha_aparicion">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Información Extra</mat-label>
      <input matInput formControlName="informacion_extra">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      Crear
    </button>
  </form>
</div>