:host {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegurar que ocupe el 100% del ancho */
    overflow-x: hidden; /* Evitar scroll horizontal */
    flex-grow: 1; /* Asegurar que ocupe el espacio disponible */
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

button:hover {
    text-decoration: underline;
}

.elementoFormulario {
    width: 100%;
}

.etiquetaFormulario {
    color: #717e84;
}

#formulario {
    width: 100%;
    max-width: 486px;
    padding-left: 5%; /* Reducir el padding */
    padding-right: 5%; /* Reducir el padding */
}

#boton {
    padding-top: 1em; /* Reducir el padding */
    padding-bottom: 1em; /* Reducir el padding */
    font-weight: bold;
    font-size: 1em; /* Reducir el tamaño de la fuente */
    color: #EEF1F2;
    background-color: #61B300;
}

@media (max-width: 768px) {
    #formulario {
        padding-left: 3%; /* Reducir el padding */
        padding-right: 3%; /* Reducir el padding */
    }
}

@media (max-width: 480px) {
    #formulario {
        padding-left: 2%; /* Reducir el padding */
        padding-right: 2%; /* Reducir el padding */
    }
}