*
{
    padding: 0;
    margin: 0;
    border: 0
}

#body
{
    width: 100%;

    padding-top: 2%;
    padding-bottom: 33%;

    background-color: #c2c2c205;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}

#mensajeInformativo
{
    color: #F5A201; /* Color amarillo para mensajes de error */
    font-family: 'ShareTech';
    font-size: 1.5em;
    
    width: 100%;

    height: 2.5em;
}

#tusListas
{
    width: 37%;
    min-width: 30em;

    height: 90%;

    margin: auto;
}

#tusAmigos
{
    width: 37%;
    min-width: 30em;

    height: 90%;

    margin: auto;
}

.mensaje-positivo {
    color: #61B300 !important; /* Color verde para mensajes positivos */
}

.mensaje-negativo {
    color: #F5A201 !important; /* Color amarillo para mensajes negativos */
}