:host {
    overflow-x: hidden;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    padding: 2%;
    overflow-y: auto; 
    overflow-x: hidden;
}

#mensajeInformativo {
    font-family: 'ShareTech';
    font-size: 1.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.mensaje-exito {
    color: #61B300;
}

.mensaje-error {
    color: #F5A201;
}

.contenedor-listas-amigos {
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 100%;
    margin-top: 2%;
    flex-grow: 1; 
}

.columna {
    flex: 1;
    display: flex;
    justify-content: center;
}

#tusListas, #tusAmigos {
    width: 100%;
    max-width: 600px;
    margin: 2%;
}

.seccion-titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #AE00CD;
    text-align: center;
    font-family: 'ShareTech';
    font-weight: 500;
  }

@media (max-width: 768px) {
    .contenedor-listas-amigos {
        flex-direction: column;
        align-items: center;
    }

    .columna {
        width: 100%;
    }

    #tusListas, #tusAmigos {
        max-width: 90%;
    }
}