<mat-toolbar id="cabecera" [ngClass]="{'wrap': isWrapped}">
    <div id="titulo" class="enlaces" (click)="recargarHome()">
        <a>
            <img id="logoTitulo" src="..\..\..\assets\dataBurstLogo.svg" alt="logo de Data Burst"/>
        </a>
        <h2 id="textoTitulo" class="textoEnlace" [ngClass]="{'bold': rutaActual === '/home'}">
            <span class="palabraTitulo">
                <a>Data Burst</a>
            </span>
        </h2> 
        <button id="hamburger-menu" mat-icon-button [matMenuTriggerFor]="hamburgerMenu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div id="menu-section">
        <span id="estadisticas" class="enlaces" (click)="recargarEstadisticas()">
            <a class="textoEnlace" [ngClass]="{'bold': rutaActual === '/estadisticas'}">Estadísticas</a>
        </span>
    
        <span *ngIf="mostrarModeracion" id="moderacion" class="enlaces" (click)="recargarModeracion()">
            <a class="textoEnlace" [ngClass]="{'bold': rutaActual === '/moderacion'}">Moderación</a>
        </span>

        <span *ngIf="mostrarAdministracion" id="administracion" class="enlaces" (click)="recargarAdministracion()">
            <a class="textoEnlace" [ngClass]="{'bold': rutaActual === '/administracion'}">Administración</a>
        </span>
    </div>
    
    <div id="usuario-section">
        <button mat-icon-button (click)="recargarPerfil()">
            <mat-icon>notifications</mat-icon>
            <span *ngIf="nuevasSolicitudes > 0" class="badge">{{ nuevasSolicitudes }}</span>
        </button>

        <button id="usuario" class="enlaces" mat-button [matMenuTriggerFor]="menu">
            <span id="nombreUsuario" class="textoEnlace" [ngClass]="{'bold': rutaActual === '/perfil'}">{{nombreUsuario}}</span>
            <img id="avatarUsuario" src="..\..\..\assets\images\avatarPorDefecto.png" alt="Avatar del usuario"/>
        </button>
        <mat-menu #menu="matMenu">
            <button id="verPerfil" class="botonMenuUsuario" (click)="recargarPerfil()">
                <span class="textoEnlace">Ver perfil</span>
            </button>
            <button class="botonMenuUsuario" (click)="cerrarSesion()">
                <span class="textoEnlace">Cerrar sesión</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<mat-menu #hamburgerMenu="matMenu">
    <button mat-menu-item class="botonMenuUsuario" (click)="recargarEstadisticas()">
        <span class="textoEnlace">Estadísticas</span>
    </button>
    <button mat-menu-item class="botonMenuUsuario" *ngIf="mostrarModeracion" (click)="recargarModeracion()">
        <span class="textoEnlace">Moderación</span>
    </button>
    <button mat-menu-item class="botonMenuUsuario" *ngIf="mostrarAdministracion" (click)="recargarAdministracion()">
        <span class="textoEnlace">Administración</span>
    </button>
    <button mat-menu-item class="botonMenuUsuario" (click)="recargarPerfil()">
        <span class="textoEnlace">Ver perfil</span>
    </button>
    <button mat-menu-item class="botonMenuUsuario" (click)="cerrarSesion()">
        <span class="textoEnlace">Cerrar sesión</span>
    </button>
</mat-menu>