<mat-toolbar id="cabecera">
    <a id="titulo" class="enlaces" href="http://localhost:4200/home">
        <img id="logoTitulo" src="..\..\..\assets\dataBurstLogo.svg" alt="logo de Data Burst"/>
        <h2 id="textoTitulo" class="textoEnlace">
            <span class="palabraTitulo">Data</span>
            <span class="palabraTitulo">Burst</span>
        </h2> 
    </a>
    <span id="estadisticas" class="enlaces" >
        <a class="textoEnlace" href="http://localhost:4200/estadisticas">Estadísticas</a>
    </span>
    <span id="administracion" class="enlaces" >
        <a class="textoEnlace" href="http://localhost:4200/administracion">Administración</a>
    </span>
    <a id="usuario" class="enlaces" href="http://localhost:4200/perfil">
        <span id="nombreUsuario" class="textoEnlace">{{usuarioLogueado}}</span>
        <img id="avatarUsuario" src="..\..\..\assets\dataBurstLogo.svg" alt="Avatar del usuario"/>
    </a>
</mat-toolbar>