*
{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'ShareTech';
    font-size: 1.1em;
    color: #AE00CD;
}

a
{
    text-decoration: none;
}

.enlaces
{
    min-width: 9em;
}

#cabecera
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
    text-align: center;

    height: 5.5em;

    background-color: #F4B3FF;
}

#estadisticas, #administracion
{
    width: 20%;
}

#titulo
{
    width: 16%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-around;
}

#logoTitulo
{
    width: 3.6em;
}

#textoTitulo
{
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    width: 46%;
}

#textoTitulo span
{
    width: 100%;

    font-size: 1.7em;
}

#usuario
{
    width: 15%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    /* justify-content: space-between; */
    text-align: center;

    background-color: #F4B3FF;
}

.botonMenuUsuario
{
    background-color: white;

    font-size: 1.15em;

    padding: 0.5em;
}

#nombreUsuario
{
    font-size: 1em;
    min-width: 7em;
}

#avatarUsuario
{
    width: 2.5em;
}

#verPerfil
{
    width: 100%;
}

.textoEnlace:hover
{
    text-decoration: underline;
}

button:hover
{
    cursor: pointer;
}

/* Tablet */
@media (max-width:824px)
{
    #cabecera 
    {
        padding-bottom: 9em;
    }

    #avatarUsuario
    {
        margin-left: 3%;
    }
}

/* Movil */
@media (max-width:428px)
{
    a
    {
        margin: 1%;
    }

    #cabecera 
    {
        padding-bottom: 13em;
    }

    #avatarUsuario
    {
        margin-left: 2%;
    }
}