*
{
    margin: auto;
    padding: 0;
    border: 0;

    font-family: 'ShareTech';
    font-size: 1.1em;
    color: #AE00CD;
}

a
{
    text-decoration: none;
    min-width: 9em;
}

#cabecera
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
    text-align: center;

    height: 5.5em;

    background-color: #F4B3FF;
}

#estadisticas, #administracion
{
    width: 20%;
}

#titulo
{
    width: 15%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-around;
}

#logoTitulo
{
    width: 4em;
}

#textoTitulo
{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 46%;
}

#textoTitulo span
{
    width: 100%;
    font-size: 1.7em;
}

#usuario
{
    width: 15%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#nombreUsuario
{
    font-size: 1em;
}

#avatarUsuario
{
    width: 2.5em;
}

.textoEnlace:hover
{
    text-decoration: underline;
}

/* Tablet */
@media (max-width:820px)
{
    #cabecera 
    {
        padding-bottom: 8em;
    }

    #avatarUsuario
    {
        margin-left: 3%;
    }
}

/* Movil */
@media (max-width:430px)
{
    a
    {
        margin: 1%;
    }

    #cabecera 
    {
        padding-bottom: 13em;
    }

    #avatarUsuario
    {
        margin-left: 2%;
    }
}