<mat-toolbar id="cabecera">
    <span id="titulo" class="enlaces">
        <a href="http://localhost:4200/home">
            <img id="logoTitulo" src="..\..\..\assets\dataBurstLogo.svg" alt="logo de Data Burst"/>
        </a>
        <h2 id="textoTitulo" class="textoEnlace">
            <span class="palabraTitulo">
                <a href="http://localhost:4200/home">Data</a>
            </span>
            <span class="palabraTitulo">
                <a href="http://localhost:4200/home">Burst</a>
            </span>
        </h2> 
    </span>
    <span id="estadisticas" class="enlaces" >
        <a class="textoEnlace" href="http://localhost:4200/estadisticas">Estadísticas</a>
    </span>
    <span id="administracion" class="enlaces" >
        <a class="textoEnlace" href="http://localhost:4200/administracion">Administración</a>
    </span>
    <span id="usuario" class="enlaces">
        <span id="nombreUsuario" class="textoEnlace">
            <!-- {{usuario}}</a> -->
            <button mat-button [matMenuTriggerFor]="menu">{{usuario}}</button>
            <mat-menu #menu="matMenu">
            <button><a href="http://localhost:4200/perfil">Ver perfil</a></button>
            <button (click)="cerrarSesion()">Cerrar sesión</button>
            </mat-menu>
        </span>
        <a href="http://localhost:4200/perfil">
            <img id="avatarUsuario" src="..\..\..\assets\dataBurstLogo.svg" alt="Avatar del usuario"/>
        </a>
    </span>
</mat-toolbar>