*
{
    margin: auto;
    padding: 0;
    border: 0;

    font-family: 'ShareTech';
    font-size: 1.1em;
    color: #AE00CD;
}

a
{
    text-decoration: none;
    min-width: 9em;
}

#cabecera
{
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
    text-align: center;

    height: 5.5em;

    background-color: #F4B3FF;
}

#estadisticas, #administracion
{
    width: 26%;
}

#titulo
{
    width: 19%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-around;
}

#logoTitulo
{
    width: 4em;
}

#textoTitulo
{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 46%;
}

#textoTitulo span
{
    width: 100%;
    font-size: 1.7em;
}

#usuario
{
    width: 20%;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#avatarUsuario
{
    width: 2.5em;
}

.textoEnlace:hover
{
    text-decoration: underline;
}