<h2>Tus listas</h2>

<!-- Input para crear y asignar listas -->
<mat-form-field class="elementoFormulario">
  <mat-label class="etiquetaFormulario">Nombre de la lista</mat-label>
  <input matInput id="nombreLista" [(ngModel)]="nombreLista" (input)="limpiarMensaje()">
</mat-form-field>

<mat-checkbox [(ngModel)]="publica">Lista Pública</mat-checkbox>

<button 
  id="boton" 
  class="elementoFormulario" 
  mat-flat-button
  color="primary"
  (click)="crearAsignarLista()"
  [disabled]="!esNombreListaValido()">
  ➕
</button>

<!-- Input para buscar dentro de tus listas -->
<mat-form-field class="elementoFormulario">
  <mat-label class="etiquetaFormulario">Buscar en tus listas</mat-label>
  <input matInput id="nombreListaBuscar" [(ngModel)]="nombreListaBuscar" (input)="onNombreListaBuscarChange()">
</mat-form-field>

<div id="mensajeInformativo"></div>

<ul>
  <li *ngFor="let lista of listas">
    <a (click)="seleccionarLista(lista.id)">{{ lista.nombre }}</a>
    <mat-icon *ngIf="lista.publica">public</mat-icon>
    <mat-icon *ngIf="!lista.publica">lock</mat-icon>
    <mat-icon *ngIf="lista.compartida">group</mat-icon>
    <mat-icon *ngIf="!lista.compartida">person</mat-icon>
  </li>
</ul>

<div *ngIf="noSeEncontraronListas">
  <p>No se encontraron listas.</p>
</div>