ul li a {
  cursor: pointer;
}

.input-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.elementoFormulario {
  flex-grow: 1;
  min-width: 300px;
  max-width: 100%;
}

button[mat-icon-button] {
  margin-left: 8px;
}

button[mat-icon-button]:hover {
  text-decoration: none;
}

button[mat-icon-button]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.categoria-container {
  margin-bottom: 16px;
}

.categoria-form-field {
  width: 100%;
}

.categorias-seleccionadas,
.categoria-seleccionada {
  margin-top: 16px;
  margin-bottom: 16px;
}

.categorias-seleccionadas h3,
.categoria-seleccionada h3 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

mat-chip-set {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

mat-chip {
  margin-right: 8px;
  margin-bottom: 8px;
}

.categoria-chip {
  display: inline-flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 4px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.categoria-chip span {
  margin-right: 8px;
}

.accion-categoria-container {
  margin-bottom: 16px;
}

.visibility-toggle {
  margin-left: 8px;
}

.visibility-toggle mat-icon {
  margin-left: 4px;
  font-size: 18px;
  vertical-align: middle;
}

.lista-option-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.lista-nombre {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lista-categoria-chip {
  background-color: #ae00cdb8;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  margin: 0 8px;
  white-space: nowrap;
}

.lista-icons {
  display: flex;
  align-items: center;
}

.categoria-form-field {
  width: 100%;
}

::ng-deep .mat-optgroup-label {
  font-weight: 500 !important;
  color: #3f51b5 !important;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 8px;
}

::ng-deep .mat-mdc-slide-toggle.mat-accent {
  margin: 0 8px;
}

::ng-deep .mat-mdc-option {
  padding-right: 16px !important;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  width: 100%;
}

::ng-deep .mat-mdc-autocomplete-panel {
  max-height: 270px;
}