<form id="formulario-registro" [formGroup]="formRegistro">
	<mat-form-field class="elementoFormulario">
	  <mat-label class="etiquetaFormulario">Mail</mat-label>
	  <input matInput id="mailInput" formControlName="mail">
	</mat-form-field>
  
	<mat-form-field class="elementoFormulario">
	  <mat-label class="etiquetaFormulario">Usuario</mat-label>
	  <input matInput id="usuarioInput" formControlName="usuario">
	</mat-form-field>
  
	<mat-form-field class="elementoFormulario">
	  <mat-label class="etiquetaFormulario">Contraseña</mat-label>
	  <input 
		[type]="hideContrasenia ? 'password' : 'text'" 
		matInput 
		id="contraseniaInput" 
		formControlName="contrasenia">
	  <button 
		mat-icon-button matSuffix 
		(click)="hideContrasenia = !hideContrasenia" 
		[attr.aria-label]="'Hide password'" 
		[attr.aria-pressed]="hideContrasenia">
		<mat-icon>{{hideContrasenia ? 'visibility_off' : 'visibility'}}</mat-icon>
	  </button>
	</mat-form-field>
  
	<mat-form-field class="elementoFormulario">
	  <mat-label class="etiquetaFormulario">Repetir contraseña</mat-label>
	  <input 
		[type]="hideRepetirContrasenia ? 'password' : 'text'" 
		matInput id="contraseniaRepetidaInput" 
		formControlName="contraseniaRepetida">
	  <button 
		mat-icon-button matSuffix 
		(click)="hideRepetirContrasenia = !hideRepetirContrasenia" 
		[attr.aria-label]="'Hide password'" 
		[attr.aria-pressed]="hideRepetirContrasenia">
		<mat-icon>{{hideRepetirContrasenia ? 'visibility_off' : 'visibility'}}</mat-icon>
	  </button>
	</mat-form-field>
  
	<button 
	  id="boton-registro" 
	  class="elementoFormulario" 
	  mat-flat-button 
	  color="primary"
	  (click)="registrarse()">
	  Crear usuario
	</button>
  </form>
  
  <div id="mensajeInformativo" class="mensaje-informativo"></div>