<mat-card id="administracion-container">
  <mat-card-title>Administración de Usuarios</mat-card-title>
  <mat-card-content>
    <form>
      
      <!-- Campo con autocomplete para seleccionar un usuario -->
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Usuario</mat-label>
        <!-- Vinculamos el form control y el autocomplete -->
        <input
          matInput
          [matAutocomplete]="auto"
          [formControl]="usuarioControl"
          placeholder="Nombre de usuario"
        />

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let usuario of usuariosFiltrados$ | async"
            [value]="usuario.usuario"
          >
            {{ usuario.usuario }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de Cuenta</mat-label>
        <mat-select>
          <mat-option value="suspensa">Suspensa</mat-option>
          <mat-option value="usuario">Usuario</mat-option>
          <mat-option value="moderador">Moderador</mat-option>
          <mat-option value="administrador">Administrador</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" class="green-button">
        Guardar Cambios
      </button>

    </form>
  </mat-card-content>
</mat-card>