:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#administracion-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}