<h1 mat-dialog-title>Crear Nuevo Elemento</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Fecha de Aparición</mat-label>
      <input matInput formControlName="fechaAparicion" type="date">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Información Extra</mat-label>
      <textarea matInput formControlName="informacionExtra"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-button (click)="guardar()" [disabled]="!form.valid">Guardar</button>
</div>